<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="portfolio.css" />
  </head>
  <body>
    <h1 class="protfolio-h1">Portfolio</h1>
    <div class="portfolio-paragraph">
      <p>
        Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Ab numquam aliquam, odio fugit ullam itaque alias esse
        recusandae sunt nemo iusto adipisci illum maiores reprehenderit laborum
        nam? Assumenda, fugiat obcaecati. Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Modi earum fuga obcaecati laborum odio
        blanditiis cum exercitationem ipsam ad sequi distinctio molestias iure,
        totam ea sapiente pariatur, dignissimos quam alias. consectetur
        adipisicing elit. Eos nostrum ipsam laudantium ex doloremque, officiis
        voluptates nemo deleniti necessitatibus alias quaerat quas modi neque
        voluptatibus dolores voluptate molestiae quam pariatur.Nepal, also known
        as the Switzerland of Asia, is not only beautiful with its snow-capped
        mountains, crystal-clear lakes, gushing rivers, rare variety of flora
        and fauna, myriad temples and stupas but equally exotic as well. It’s a
        Shangri-La where people come with a hope of having a glimpse of Yeti, a
        mysterious abominable snow animal, or even in quest for nirvana or
        enlightenment. But at the same time it is a country where tradition and
        modernity intermingle with each other and peoples with diverse
        languages, religions and cultures co-exist.
      </p>
    </div>

    <div class="movie-cards">
      <div class="card" style="width: 18rem">
        <img
          src="../Images/verticle1.jpg"
          class="card-img-top"
          alt="verticle1"
        />
        <div class="card-body">
          <p class="card-text">We made this movie yey</p>
        </div>
      </div>

      <div class="card" style="width: 18rem">
        <img
          src="../Images/verticle3.jpg"
          class="card-img-top"
          alt="verticle2"
        />
        <div class="card-body">
          <p class="card-text">We made this movie too yey</p>
        </div>
      </div>
    </div>

    <div class="portfolio-paragraph">
      <p>
        Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Ab numquam aliquam, odio fugit ullam itaque alias esse
        recusandae sunt nemo iusto adipisci illum maiores reprehenderit laborum
        nam? Assumenda, fugiat obcaecati. Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Modi earum fuga obcaecati laborum odio
        blanditiis cum exercitationem ipsam ad sequi distinctio molestias iure,
        totam ea sapiente pariatur, dignissimos quam alias. consectetur
        adipisicing elit. Eos nostrum ipsam laudantium ex doloremque, officiis
        voluptates nemo deleniti necessitatibus alias quaerat quas modi neque
        voluptatibus dolores voluptate molestiae quam pariatur.Nepal, also known
        as the Switzerland of Asia, is not only beautiful with its snow-capped
        mountains, crystal-clear lakes, gushing rivers, rare variety of flora
        and fauna, myriad temples and stupas but equally exotic as well. It’s a
        Shangri-La where people come with a hope of having a glimpse of Yeti, a
        mysterious abominable snow animal, or even in quest for nirvana or
        enlightenment. But at the same time it is a country where tradition and
        modernity intermingle with each other and peoples with diverse
        languages, religions and cultures co-exist.
      </p>
    </div>

    <div class="youtube-embed-container">
      <iframe
        width="426"
        height="240"
        src="https://www.youtube.com/embed/6Jrh1IRv6Pw"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

      <iframe
        width="426"
        height="240"
        src="https://www.youtube.com/embed/oSUDogiEb_Y"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
      <div class="portfolio-paragraph">
        <p>
          Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Ab numquam aliquam, odio fugit ullam itaque alias
          esse recusandae sunt nemo iusto adipisci illum maiores reprehenderit
          laborum nam? Assumenda, fugiat obcaecati. Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Modi earum fuga obcaecati laborum odio
          blanditiis cum exercitationem ipsam ad sequi distinctio molestias
          iure, totam ea sapiente pariatur, dignissimos quam alias. consectetur
          adipisicing elit. Eos nostrum ipsam laudantium ex doloremque, officiis
          voluptates nemo deleniti necessitatibus alias quaerat quas modi neque
          voluptatibus dolores voluptate molestiae quam pariatur.Nepal, also
          known as the Switzerland of Asia, is not only beautiful with its
          snow-capped mountains, crystal-clear lakes, gushing rivers, rare
          variety of flora and fauna, myriad temples and stupas but equally
          exotic as well. It’s a Shangri-La where people come with a hope of
          having a glimpse of Yeti, a mysterious abominable snow animal, or even
          in quest for nirvana or enlightenment. But at the same time it is a
          country where tradition and modernity intermingle with each other and
          peoples with diverse languages, religions and cultures co-exist.
        </p>
      </div>
    </div>

      <!-- NOT BELOW THIS -->
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"
      ></script>
    
  </body>
</html>
