.protfolio-header {
  text-align: center;
  color: rgb(40, 14, 66);
}

.portfolio-paragraph {
  margin: auto;
  width: 80%;
  text-align: justify;
  text-justify: inter-word;
}
.movie-cards {
  margin: 2rem auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.youtube-embed-container {
  margin: 2rem auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.portfolio-paragraph > ul{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
