<div class="row d-flex justify-content-center align-items-center">

    <div class="col-sm-4">
        <div class="card shadow-sm">
          <img
            class="card-img-top"
            src="../Images/service-1.svg"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text text-center subtitle">
             Movies/Documentaries
            </p>
          </div>
        </div>
      </div>

  <div class="col-sm-4">
    <div class="card shadow-sm">
      <img
        class="card-img-top"
        src="../Images/service-1.svg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">
         Media Production Equipments
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card shadow-sm">
      <img
        class="card-img-top"
        src="../Images/service-1.svg"
        alt="Card image cap"
      />
      <div class="card-body">
        <p class="card-text text-center subtitle">
         TV Ads & Commercials
        </p>
      </div>
    </div>
  </div>
</div>
